.h1{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.db{
    background-color: black;
    color: white;    
}
.contentx{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}